<script>
export default {
  name: 'UserItem',
  props: {
    title: {
      type: String,
      default: '',
    },
    phone: {
      type: String,
      default: '',
    },
  },
};
</script>

<template>
  <div class="user-item">
    <div class="user-item__title">{{ title }}</div>
    <div class="user-item__phone">{{ phone }}</div>
  </div>
</template>

<style lang="scss">
.user-item {
  display: flex;
  flex-direction: column;
  padding: em(12px);
  border: 1px solid $color-black;
  &__title {
    font-size: em(18px);
    margin-bottom: em(12px, 18px);
  }
  &__phone {
    font-size: em(14px);
  }
}
</style>
