<script>
import { mapState, mapMutations } from 'vuex';
import UserItem from '@/components/users/UserItem';
export default {
  name: 'UsersList',
  components: { UserItem },
  computed: {
    ...mapState('core', ['users', 'activeUserId']),
    selectedUsers() {
      return this.activeUserId
        ? this.users.filter((item) => {
            return item.id === this.activeUserId;
          })
        : this.users;
    },
  },
  methods: {
    ...mapMutations('core', ['setActiveUserID']),
    onClick(id) {
      this.setActiveUserID(id);
    },
  },
};
</script>

<template>
  <div class="users-list">
    <UserItem
      v-for="item in selectedUsers"
      :key="item.id"
      :title="item.name"
      :phone="item.phone"
      class="users-list__item"
      @click.native="onClick(item.id)"
    />
  </div>
</template>

<style lang="scss">
.users-list {
}
</style>
