<script>
export default {
  name: 'TodoItem',
  props: {
    title: {
      type: String,
      default: '',
    },
    completed: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<template>
  <div class="todo-item">
    <div class="todo-item__title">{{ title }}</div>
    <div class="todo-item__completed">{{ completed }}</div>
  </div>
</template>

<style lang="scss">
.todo-item {
  display: flex;
  flex-direction: column;
  padding: em(12px);
  border: 1px solid $color-black;
  &__title {
    font-size: em(18px);
    margin-bottom: em(12px, 18px);
  }
  &__completed {
    font-size: em(14px);
  }
}
</style>
