<script>
import { mapState } from 'vuex';
import TodoItem from '@/components/todos/TodoItem';
export default {
  name: 'TodosList',
  components: { TodoItem },
  computed: {
    ...mapState('core', ['todos', 'activeUserId']),
    filteredTodos() {
      return this.todos.filter((item) => {
        return item.userId === this.activeUserId;
      });
    },
  },
};
</script>

<template>
  <div class="todos-list">
    <TodoItem
      v-for="item in filteredTodos"
      :key="item.id"
      :title="item.title"
      :completed="item.completed"
      class="todos-list__item"
    />
  </div>
</template>

<style lang="scss">
.todos-list {
}
</style>
