<script>
import { mapMutations } from 'vuex';
import UsersList from '@/components/users/UsersList';
import TodosList from '@/components/todos/TodosList';
export default {
  components: { TodosList, UsersList },
  data() {
    return {
      isTable: true,
    };
  },
  async fetch({ store }) {
    await store.dispatch('core/loadUsers');
    await store.dispatch('core/loadTodos');
  },
  methods: {
    ...mapMutations('core', ['setActiveUserID']),
    onClick() {
      this.isTable = !this.isTable;
    },
    reset() {
      this.setActiveUserID(0);
    },
  },
};
</script>

<template>
  <div class="page page-index">
    <div class="page-index__view-list">
      <div :class="{ is_active: isTable }" class="page-index__view page-index__view_table" @click="onClick">Table</div>
      <div :class="{ is_active: !isTable }" class="page-index__view page-index__view_icons" @click="onClick">Icons</div>
      <div class="page-index__view" @click="reset">Reset</div>
    </div>
    <transition name="fade">
      <UsersList :class="[isTable ? 'is_table' : 'is_icons']" class="page-index__list" />
    </transition>
    <transition name="fade">
      <TodosList :class="[isTable ? 'is_table' : 'is_icons']" class="page-index__list" />
    </transition>
  </div>
</template>

<style lang="scss">
.page-index {
  &__view-list {
    margin-bottom: em(12px);
    @extend %flex-start;
  }

  &__view {
    font-size: em(18px);
    padding: em(8px);
    border: 1px solid $color-black;
    &.is_active {
      color: red;
    }
  }

  &__list {
    display: flex;
    &.is_table {
      align-items: flex-start;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}
</style>
